In [1]:
#Importing the neccessary libraries
import numpy as np
import pandas as pd

In [2]:
#Mounting the google drive to access the neccesary csv and html files
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [6]:
#Reading the csv files
movies = pd.read_csv('/content/gdrive/MyDrive/Movflix/movies.csv')
ratings = pd.read_csv('/content/gdrive/MyDrive/Movflix/ratings.csv')

In [7]:
#Displaying the movies dataframe
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
#Displaying the ratings dataframe
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
#Combining the two dataframes on the basis of "mobieId"
combine_movie_rating = pd.merge(ratings, movies, on='movieId')
combine_movie_rating.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
5,18,1,3.5,1455209816,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
6,19,1,4.0,965705637,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,21,1,3.5,1407618878,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,27,1,3.0,962685262,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [10]:
#Dropping the uneccesary columns which aren't relevant for the o/p
columns = ['timestamp', 'genres']
combine_movie_rating = combine_movie_rating.drop(columns, axis=1)
combine_movie_rating.head(10)

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)
5      18        1     3.5  Toy Story (1995)
6      19        1     4.0  Toy Story (1995)
7      21        1     3.5  Toy Story (1995)
8      27        1     3.0  Toy Story (1995)
9      31        1     5.0  Toy Story (1995)

In [11]:
#
combine_movie_rating = combine_movie_rating.dropna(axis = 0, subset = ['title'])

movie_ratingCount = (combine_movie_rating.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']]
    )
movie_ratingCount.head(10)

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2
5          'Tis the Season for Love (2015)                 1
6                       'burbs, The (1989)                17
7                     'night Mother (1986)                 1
8              (500) Days of Summer (2009)                42
9           *batteries not included (1987)                 7

In [12]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head(10)

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215
5      18        1     3.5  Toy Story (1995)               215
6      19        1     4.0  Toy Story (1995)               215
7      21        1     3.5  Toy Story (1995)               215
8      27        1     3.0  Toy Story (1995)               215
9      31        1     5.0  Toy Story (1995)               215

In [13]:
user_rating = rating_with_totalRatingCount.drop_duplicates(['userId','title'])
user_rating.head(10)

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215
5      18        1     3.5  Toy Story (1995)               215
6      19        1     4.0  Toy Story (1995)               215
7      21        1     3.5  Toy Story (1995)               215
8      27        1     3.0  Toy Story (1995)               215
9      31        1     5.0  Toy Story (1995)               215

In [14]:
movie_user_rating_pivot = user_rating.pivot(index = 'userId', columns = 'title', values = 'rating').fillna(0)
movie_user_rating_pivot.head(10)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
X = movie_user_rating_pivot.values.T
X.shape

(9719, 610)

In [16]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12, random_state=17)
matrix = SVD.fit_transform(X)
matrix.shape

(9719, 12)

In [17]:
import warnings
warnings.filterwarnings("ignore",category =RuntimeWarning)
corr = np.corrcoef(matrix)
corr.shape

(9719, 9719)

In [22]:
g = input("Enter the movie name")
movie_title = movie_user_rating_pivot.columns
movie_title_list = list(movie_title)
coffey_hands = movie_title_list.index(g)

Enter the movie nameCaptain America: The First Avenger (2011)

In [23]:
corr_coffey_hands  = corr[coffey_hands]
recommendations = list(movie_title[(corr_coffey_hands >= 0.95)])
print(recommendations)

['Amazing Spider-Man, The (2012)', 'Ant-Man (2015)', 'Avengers, The (2012)', 'Big Hero 6 (2014)', 'Captain America: The First Avenger (2011)', 'Deadpool (2016)', 'Edge of Tomorrow (2014)', 'Guardians of the Galaxy (2014)', 'Guardians of the Galaxy 2 (2017)', 'Iron Man 2 (2010)', 'Pirates of the Caribbean: On Stranger Tides (2011)', 'Rango (2011)', 'Rise of the Planet of the Apes (2011)', 'Sherlock Holmes: A Game of Shadows (2011)', 'Skyfall (2012)', 'Star Trek Into Darkness (2013)', 'Star Wars: Episode VII - The Force Awakens (2015)', 'The Lego Movie (2014)', 'Thor (2011)', 'X-Men: Days of Future Past (2014)', 'X-Men: First Class (2011)']

In [24]:
import pickle
with open('model.pkl', 'wb') as file:
 pickle.dump(matrix, file)

In [25]:
matrix = pickle.load(open('model.pkl','rb'))